/* Primary Color */
$primary-100: #0178ff;
$primary-200: #0164ff;
$primary-300: #0153ff;
$primary-400: #0142cc;
$primary-500: #0135a3;

/* Neutrals */
$white: #ffffff;
$lighter: #f2f2f2;
$light: #b5b5b5;
$light-grey: #575757;
$grey: #3d3d3d;
$dark-grey: #2b2b2b;
$dark: #1e1e1e;
$black: #151515;
$true-black: #000000;

/* Semantics */
$red: #de3232;
$orange: #de8532;
$yellow: #e7d10c;
$green: #10ab16;

/* Gradients */
$blue-gradient: linear-gradient(
  167.75deg,
  #68edfe -33.05%,
  #0153ff 45.64%,
  #28b0ff 132.97%
);
$red-gradient: linear-gradient(
  182.52deg,
  #fe6868 10.8%,
  #ff1e1e 67.32%,
  #f42424 130.06%
);
$green-gradient: linear-gradient(
  167.75deg,
  #78eca6 -33.05%,
  #269e56 45.64%,
  #78eca6 132.97%
);

$purple-gradient: linear-gradient(
  167.75deg,
  #78ece5 -33.05%,
  #ea78ec -33.03%,
  #95269e 45.64%,
  #e378ec 132.97%
);

.purple-bg {
  background: $purple-gradient;
}
