:where(.css-dev-only-do-not-override-1lt7wct).ant-progress
  .ant-progress-circle-trail {
  stroke: #d0ddf9;
  stroke-width: 1.5rem;
}

:where(.css-dev-only-do-not-override-1lt7wct).ant-progress
  .ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke-width: 1.5rem;
}

:where(.css-dev-only-do-not-override-1lt7wct).ant-progress.ant-progress-circle
  .ant-progress-text {
  font-size: 1.5rem;
  font-weight: 700;

  &::after {
    font-size: 0.6rem;
    white-space: pre;
  }
}

:where(
    .css-dev-only-do-not-override-1lt7wct
  ).ant-progress.ant-progress-show-info
  .ant-progress-outer {
  margin-inline-end: 0;
  padding-inline-end: 0;
}

:where(.css-dev-only-do-not-override-1lt7wct).ant-progress .ant-progress-text {
  display: none;
}
