.intro-hero-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.page-headline {
  .display {
    margin-bottom: 0.8rem;
  }

  h1 {
    margin-bottom: 0.6rem;
  }

  p {
    margin-bottom: 0.2rem;
  }
}
