.avatar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .avatar-text-wrapper {
    p {
      font-size: 0.8rem;
    }
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

.upload-profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border: 1px solid $light;
  }
}
