.return-btn {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: $primary-300;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: -0.75rem;

  img {
    height: 0.84rem;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.google-btn {
  background-color: $white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: $light-grey;
  line-height: 0;
  cursor: pointer;

  &:active {
    opacity: 0.6;
  }

  img {
    height: 1rem;
  }
}

.rec-exe-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tracker-btn {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: $white;
  align-self: stretch;
  flex-grow: 1;

  img {
    height: 2rem;
  }

  &:active {
    opacity: 0.6;
  }
}

.setting-btn {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  background-color: $white;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;

  &:active {
    opacity: 0.7;
  }
}

.detailed-meal-view-btn {
  display: flex;
  background-color: $white;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  .meal-type {
    color: $black;
    margin-bottom: 0.1rem;
  }

  .cal-amt {
    color: $primary-300;

    &::after {
      color: $light-grey;
      font-size: 0.7rem;
      content: (" kcal");
    }
  }

  img {
    transform: rotate(180deg);
  }
}

.other-exercises {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  p {
    color: $black;
    font-weight: 600;
  }

  img {
    height: 1.4rem;
  }

  &:active {
    opacity: 0.7;
  }
}

.consumption-updater {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  background-color: $lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    height: 1rem;
  }

  &:active {
    opacity: 0.7;
  }
}

.link-btn {
  color: $primary-300;
  text-decoration: none;
  margin: auto;
  font-size: 0.9rem;
  cursor: pointer;

  &:active {
    opacity: 0.8;
  }
}

.support-redirect-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: $white;
  cursor: pointer;
  gap: 0.4rem;

  &:active {
    opacity: 0.8;
  }

  img {
    height: 2rem;
  }
}

.red-bg {
  background: $red-gradient;
}

.green-bg {
  background: $green-gradient;
}

.blue-bg {
  background: $blue-gradient;
}

.priority-label {
  display: flex;
  align-items: center;
  color: $primary-300;
  margin-bottom: 0.6rem;
  gap: 0.3rem;

  img {
    height: 1rem;
  }
}

.meet-info-widget {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  img {
    height: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $primary-300;
  }
}

.doctor-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 1rem;
  border-radius: 0.5rem;

  h5 {
    margin-bottom: 0.25rem;
  }

  .doc-specialization {
    color: $primary-300;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }

  .doc-charge {
    color: $green;
  }
}
.view-reports {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 0.8rem;
  }
}

.workout-play-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  img {
    cursor: pointer;
    height: 4rem;
  }

  .previous-icon,
  .next-icon {
    height: 2.7rem;
  }
}

.workout-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.workout-preview-img {
  border-radius: 1rem;
}

.workout-started {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
